* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  height: 667px;
  background-color: hsl(217, 19%, 24%);
}

.desktop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 100px;
}

@media screen and (max-width: 600px) {
  .desktop-container {
    width: 100%;
    margin-top: 10px;
  }
}
